.about_background {
  background-color: $color-light;
}

.about_container {
  display: flex;
  flex-direction: column;

  h2 {
    margin: 1.5rem 0 0.875rem;
  }

  li {
    margin-bottom: 0.25rem;
    color: $color-text;
    font-size: 1.125rem;
    list-style: none;
  }
}
