.header_background {
  background-image: url("/images/header_bg.jpg");
  background-color: $color-primary;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% auto;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;

  .header_heading {
    margin: 5rem 0 0.75rem;
  }

  .header_second-heading {
    margin-bottom: 1.5rem;
    max-width: 40rem;
    font-size: 1.25rem;
    text-align: center;
  }
}
